.header {
    background-color: #282c34;
    padding: 0px 50px 10px 50px;
    min-height: 16vh;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
  }